*{
margin: 0pc;
padding : 0px;
box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
}
/* margin: auto make this thing center based */
/* align items to the center, bot sure, but neat */
header
{
    display :flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}
/* display flex puts stuff togehter */
.logo-container,.nav-links,.cart{
   display: flex; 
}
/* flex 1 takes all the space */
.logo-container {
    flex: 1;
}
.logo{
    font-weight: 400;
    margin: 5px;
}
/* justify-content put simmilar spaces between */
/* list-style taking controll of the type of the list */
nav {
	flex: 2;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
/* text decoration is getting rid of blue link thing */
.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}
.cart {
	flex: 1;
	justify-content: flex-end;
}
.presentation
{
    background-color: royalblue;
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction{
    background-color: lightblue ;
    flex: 1;
}
/*webkit is super cool */
.intro-text h1 {
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient(to right, #494964, #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.cover {
    background-color: green ;
    flex: 1;
}
/* accesing something inside the class by " " */
.cover img{
    height: 60vh;
}
